/* Estilo base */
body {
    margin: 0;
    padding: 0;
    background: #0c0f17;
    color: white;
    font-family: 'Inter', sans-serif;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background: #141823;
    border-bottom: 1px solid #2b303d;
}

/* Botões */
button {
    cursor: pointer;
    border: none;
    padding: 10px 14px;
    border-radius: 6px;
    font-weight: 600;
}

.primary {
    background: #2688ff;
    color: white;
}

.danger {
    background: #ff3b3b;
    color: white;
}

/* Terminal */
.terminal-container {
    padding: 20px;
}

.terminal {
    margin-top: 10px;
    padding: 15px;
    background: #1a1f2e;
    border: 1px solid #2b303d;
    border-radius: 8px;
    line-height: 1.7;
}

/* Swap box */
.swap-box {
    padding: 20px;
    margin: 15px;
    background: #1a1f2e;
    border-radius: 8px;
    border: 1px solid #2b303d;
}

.swap-box input, .swap-box select {
    width: 100%;
    padding: 10px;
    margin: 6px 0 15px;
    border-radius: 5px;
    border: none;
}

/* Avançado */
.swap-advanced button {
    margin-top: 10px;
    background: #2b303d;
    color: white;
}

#advancedOptions {
    margin-top: 10px;
    padding: 10px;
    background: #141823;
    border-radius: 6px;
}

.logs {
    padding: 20px;
}

#logBox {
    background: #0e111a;
    padding: 10px;
    height: 200px;
    overflow-y: auto;
    border-radius: 8px;
    border: 1px solid #2b303d;
}

.hidden {
    display: none;
   }
